@charset "utf-8";
*{
	margin: 0;
	padding: 0;
}
:focus{
	outline: 0;
}
#form_area{
	overflow: hidden;
}
#form_area>div{
	float: left;
	/*overflow: hidden;*/
	/*浮动之后就自动是BFC区域了，不需要在overflow:hidden*/
	position: relative;
	margin: 0.1rem;
}
#form_area>div>img{
	width: 1.3rem;
	height: 1.3rem;
}
#form_area>div>input{
	width: 0.65rem;
	height: 0.65rem;
}
#form_area>div>img{
	float: left;
}
#form_area>div>input{
	z-index: 2;
	position: absolute;
	left: 0.325rem;
	top: 0.325rem;
	opacity: 0;
}
#form_area>div>span.del{
	position: absolute;
	right: -0.1rem;
	top: -0.1rem;
	width: 0.3rem;
	height: 0.3rem;
	background: url(../img/search_gb.png) no-repeat;
	background-size: 0.3rem 0.3rem;
}
#form_area>div>p{
	font-size: 0.28rem;
	width: 100%;
}

#show_area{
	overflow: hidden;
}
#show_area>img{
	float: left;
	width: 1.3rem;
	height: 1.3rem;
	margin: 0.1rem;
}

#btn1{
	position: fixed;
	top: 50%;
	right: 0;
	font-size: 0.32rem;
	color: white;
	width: 1.3rem;
	height: 1.3rem;
	border-radius: 50%;
	background-color: orangered;
	box-shadow: 0.05rem 0.05rem 0 0 rgba(255,220,9,.5);
}
